{% extends "template.html" %}
    {% block title %}Change you password{% endblock %}
    {% block content %}
         {% if user.is_authenticated %}
        <h1>Change you password</h1>
            <p>Use the form below to change your password.</p>
            <form action="{% url 'password_change_done' user.email %}" method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Change"></p>
            {% csrf_token %}
            </form>
          {% else %}
                <p>
            اگر جزئ کاربران نیستید شما می توانید ثبت نام کنید یا از لینک ورود استفاده کنید

                </p>
        {% endif %}
    {% endblock %}